@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica+Text:ital,wght@0,100..900;1,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	display: grid;
	font-family: "Finlandica Text";
	grid-template-columns: 1fr 75% 1fr;
	background-color: #303446;
	color: #cdd6f4;
}

body > * {
	grid-column: 2;
}

a {
	color: #cdd6f4;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
	margin: 0 0 1rem 0;
	border-bottom: 2px solid #b7bdf8;
}

header > nav > ul {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	gap: 32px;
}

main {
	display: grid;
	grid-template-columns: 30% 1fr;
	gap: 12px;
}

#postagens {
	border: 2px solid #b7bdf8;
	border-radius: 6px;
	padding: 0 8px;
}

#postagens > h2 {
	padding: 0.3rem 0;
	text-align: center;
	border-bottom: 2px solid #b7bdf8;
}

#postagens > article {
	border: 2px solid #b7bdf8;
	padding: 10px;
	margin: 8px 0;
	border-radius: 6px;
}

.postagens {
	padding: 0.5rem;
}

#home > #intro {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 0.5rem 0;
}
